// SCSS Mixins
@mixin button-styles {
  @apply rounded-lg shadow-md px-4 py-2 transition-all;
  background-color: $primary-color;
  color: $secondary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}